@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import './varibles.scss';

body {
  min-height: 100vh;
  color: $text;
  background: #fff;
  transition: #000 0.5s, #fff 0.5s;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  margin: 0;
}

a {
  color: $text;
  text-decoration: none;
}
